<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>

    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
        type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <link rel="stylesheet" href="/dest/my-style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--JavaScript at end of body for optimized loading-->
    <!-- Jquery Core Js -->
    <!-- <script src="/plugins/jquery/jquery.min.js"></script> -->
</head>