<div class="info-box <%= widget.color %> hover-expand-effect">
    <div class="icon">
        <i class="material-icons"><%= widget.icon %></i>
    </div>
    <div class="content">
        <div class="text"><%= widget.name %></div>
        <div class="number count-to" data-from="0" data-to="<%= widget.count %>" data-speed="15"
            data-fresh-interval="20"></div>
    </div>
</div>